$blue: #CAEBF2
$tan: #EFEFEF
$red: #FF3B3F
$grey: #A9A9A9
$dark_grey: #434343

%student_selectors
  background: $blue
%app_body
  background: $tan
%caution_buttons
  background: $red
%menu_headers
  background: $grey
%light_borders
  border: solid 1px $grey
%dark_borders
  border: solid 1px $dark_grey

.wrapper
  @extend %app_body
body
  @extend %app_body

.student_view_left,
.student_view_right,
.assignment_search,
.studentItem
  @extend %light_borders

.studentItem:hover
  @extend %student_selectors
.student_view_right
  @extend %app_body

.studentDisplayNav, .studentDisplayNavProfile, .studentDisplayNavAssignments
  @extend %dark_borders
  @extend %menu_headers
