.studentItem:hover {
  background: #CAEBF2; }

.wrapper, body, .student_view_right {
  background: #EFEFEF; }

.studentDisplayNav, .studentDisplayNavProfile, .studentDisplayNavAssignments {
  background: #A9A9A9; }

.student_view_left, .student_view_right,
.assignment_search,
.studentItem {
  border: solid 1px #A9A9A9; }

.studentDisplayNav, .studentDisplayNavProfile, .studentDisplayNavAssignments {
  border: solid 1px #434343; }
